.jumbotron {
  padding-top: 6rem;
  background-color: rgb(238, 225, 252);
}
#Projects{
  background-color: rgb(238, 225, 252);
}
footer {
  background-color: #ac5af8;
}
section {
  padding-top: 5rem;
}
